# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pickle
*.csv

# OS or Editor folders
._*
.cache
.pickle
.csv
.DS_Store
.idea
.project
.settings
.tmproj
*.esproj
*.sublime-project
*.sublime-workspace
nbproject
Thumbs.db
*.iml

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
node_modules
zs
Videos
hackerearth_ml
typings

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# compiled js and map files
app/**/*.js
app/**/*.js.map
production/**/*.js.map
production/**/*.js
